{% extends 'base.html.twig' %}
{% block body %}
<table class="table table-striped table-bordered mt-3" >
    <tr>
    <th>titre</th>
    <th>description</th>
    <th>category</th>
    <th>date de creation</th>
    <th>supprimer</th>
    <th>update</th>
</tr>

    {% for article in articles %}
    <tr>
    <td>{{article.title}}</td>
    <td>{{article.content}}</td>
    <td>{{article.category.title}}</td>
    <td>{{article.createdAt| date('y,m,d')}}</td>
    <td> <a href=" {{path('delete',{'id':article.id})}} " class="btn btn-danger">delete</a> </td>
    <td><a href=" {{path('edit',{'id':article.id})}} " class="btn btn-info">update</a></td>

</tr>
    {% endfor %}

</table>
{% endblock %}